.downward-arrow {
    position: absolute;
    bottom: 40px;
    width: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ebebeb00;
    background-blend-mode: lighten;
    outline: none;
    border: none;
}

.d-icon {
    width: 40px;
    height: 50px;
    border: 1px solid var(--the-black);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ebebeb00;
    transition: 1s;
}

.d-icon:hover {
    cursor: pointer;
    height: 40px;
    background-color: var(--the-black);
}

.d-arrow {
    width: 15px;
    height: 15px;
    border-right: 2px solid var(--the-white);
    border-bottom: 2px solid var(--the-white);
    transform: rotate(45deg);
    transition: 1s;
}

@media only screen and (max-width: 1025px) {
    .body-container {
        width: 100%;
    }
}