.projectBody {
    width: 100%;
    max-width: 1025px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.projectMain {
    width: 60%;
    text-align: left;
}

.projectTitle {
    margin-top: 40px auto;
}

.projectDetails {
    width: 30%;
    border: 1px solid var(--the-black);
    padding: 0 10px 30px 10px;
    text-align: left;
}

.pdHeader {
    padding-bottom: 10px;
    width: 80%;
    border-bottom: 1px dotted var(--the-black);
}

.pdContactContainer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.pdContact {
    padding-top: 20px;
    width: 80%;
    border-top: 1px dotted var(--the-black);
}

@media only screen and (max-width: 567px) {
    .projectBody {
        margin: 20px 0;
        flex-direction: column-reverse;
        align-items: center;
    }
    .projectTitle {
        width: 70%;
        text-align: left;
        margin: 40px 10px 10px;
    }
    .projectSpan {
        width: 70%;
        text-align: left;
        margin: 10px;
    }
    .projectMain {
        width: 94%;
    }
    .projectDetails {
        width: 90%;
    }
    .pdContactContainer {
        display: none;
    }
}

@media screen and (min-width: 250px) and (max-width: 600px) and (orientation: landscape) {
    .projectBody {
        margin: 20px 0;
        padding-bottom: 100px;
    }
    .projectTitle {
        width: 70%;
    }
    .projectMain {
        width: 94%;
    }
    .projectDetails {
        width: 90%;
    }
    .pdContactContainer {
        display: none;
    }
}