.contact-container {
    width: 96%;
    max-width: 1025px; 
    height: auto;
    padding: 20px 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-container h2 {
    color: var(--the-black);
    margin-bottom: 40px;
    font-weight: 400;
    text-align: left;
}

.contact-form-page {
    width: 50%;
    text-align: left;
    border-left: 1px dotted var(--the-black);
    border-bottom: 1px dotted var(--the-black);
    padding: 20px 20px 40px;
    box-sizing: border-box;
}

.email-form {
    border-top: 1px dotted var(--the-black);
    box-sizing: border-box;
    padding: 20px 20px 40px;
    width: 50%;
}

@media only screen and (max-width: 1025px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-form-page {
        width: 90%;
        margin: auto;
        text-align: left;
        border: none;
        padding: 40px 0 0 0;
    }
    
    .email-form {
        width: 100%;
        margin: auto;
        padding: 0;
        border-top: none;
        border-bottom: 1px dotted var(--the-black);
    }

}