@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;400&display=swap');

:root {
    --the-white: #F6F4F3;
    --the-black: #242331;
    --main-color: #C6C9D2;
    font-family: 'Rokkitt', serif;
    font-weight: 100;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
}

hr {
    background-color: var(--the-white);
    width: 64%;
    margin: 20px 0;
}

a {
    color: var(--the-black);
}

a:hover {
    color: var(--main-color);
}

.homepage {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
}

.huge-title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: var(--the-black);
    position: relative;
}

.section-2-container {
    width: 100%;
    background-color: var(--the-white);
    text-align: center;
    padding: 20px 0;
}

.section-2 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

.section-2 h3 {
    font-size: 24px;
}

.title {
    font-size: 40px;
    text-align: left;
    margin: 20px 0 0 0;
    width: 100%;
}

.left-section {
    width: 60%;
}

.right-section {
    width: 40%;
}

.right-section h4 {
    font-weight: 100;
}

@media only screen and (max-width: 600px) {
    .huge-title {
        font-size: 60px;
        height: 94vh;
    }

    .section-2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 94%;
        margin: auto;
    }

    .left-section {
        width: 100%;
    }
    
    .right-section {
        width: 100%;
    }
}