/***
**CONTACT FORM************************************
***/

.formContainer {
    width: 100%;
    padding: 0 0 0 0;
}

.contactBackground {
    width: 100%;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

form p {
    margin: 0;
}

form label {
    font-weight: bold;
}

form input {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    border: none;
}

form textarea {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    border: none;
    height: 20vh;
}

.button-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

form button {
    width: 100%;
    margin: auto;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 0 0 2vh 0;
    background-color: var(--main-color);
    color: var(--the-white);
    padding: 12px 0;
    border-radius: 5px;
}

form button:hover {
    background-color: var(--the-black);
}

@media only screen and (max-width: 1025px) {
    form {
        width: 80%;
    }
    .contactBackground {
        background-size: 70%;
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 94%;
    }
    .contactBackground {
        background-size: cover;
    }
}