.sidebar-container {
    height: 100vh;
    width: 20%;
    background-color: var(--the-black);
    margin: 0;
    /*-webkit-box-shadow: 10px 0px 22px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 22px -6px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 22px -6px rgba(0,0,0,0.5);*/
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-scroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    height: auto;
}

.sidebar-titles h1, h2{
    color: var(--the-white);
    font-weight: 100;
}

.sidebar-titles {
    text-align: right;
    margin-top: 20px;
}

.sidebar-titles h1 {
    font-size: 2vw;
}

.sidebar-titles h2 {
    font-size: 1.6vw
}

.computer-container {
    width: 150px;
    height: 150px;
    margin: auto;
    perspective: 120px;
}

.sidebar-items {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-start;
}

.page-link {
    text-decoration: none;
    margin: 20px 0;
    color: var(--the-white);
    background-color: #ebebeb00;
    border: none;
    outline: none;
}

.linked {
    color: var(--the-white);
    text-decoration: none;
    font-size: 1.4vw;
}

.linked:hover {
    color: var(--main-color);

}

@media only screen and (max-width: 1025px) {
    .sidebar-container {
        width: 100%;
        z-index: 800;
        height: 100vh;
    }

    .sidebar-titles {
        text-align: center;
    }

    .sidebar-titles h1 {
        font-size: 50px;
    }
    
    .sidebar-titles h2 {
        font-size: 30px;
    }

    .sidebar-items {
        text-align: center;
    }

    .linked {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .sidebar-container {
        display: inline;
    }
}

@media only screen and (max-width: 1025px) {
    .sidebar-titles h1 {
        font-size: 30px;
    }
    
    .sidebar-titles h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .page-link {
        margin: 10px 0;
    }
}