.body-container {
    width: 80%;
    height: 100vh;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
}

@media only screen and (max-width: 1025px) {
    .body-container {
        width: 100%;
    }
}

@media screen and (min-width: 250px) and (max-width: 767px) and (orientation: landscape) {
    .body-container {
        height: 100vw;
    }
}